.inbox-message-wrapper {
  padding: 0.5em;
  height: 100%;
  max-height: calc(900px - 78px);
  overflow: auto;
  position: relative;
}

.inbox-header-wrapper {
  border-radius: 5px;
  padding: 0 1em;
  border-bottom: 1px solid #ededed;

}

.inbox-header {

  > div {
    padding: 0.5em 1.5em;
  }
}

.inbox-from,
.inbox-subject,
.inbox-created {
  margin: 0.3em;
}

.inbox-subject {
  font-size: 2rem;
}

.inbox-message-send-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #504A40;
  min-height: 55px;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
}

.inbox-message-send {
  display: flex;
  width: 100%;
}

.inbox-input {
  display: flex;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;  
  border: none;
  resize: vertical;
  padding: 0.4em 1em;
  font-family: 'Muli', Verdana, Geneva, Tahoma, sans-serif;

}

.send-btn {
  display: flex;
  justify-content: center;
  width: 60px;
  flex-direction: column;
  align-items: center;
  background: #FCE588;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  color:#323F4B;
  font-weight: 700;
  padding: 1em 0;
}

@media screen and (max-width: 600px) {
  .inbox-header > div {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .inbox-subject {
    font-size: 100%;
  }
}