.inbox-list-wrapper {
  width: 100%;
  align-items: center;
  background: white;
  display: flex;
  transition: all 0.2s ease;
  padding: 0 1em;
  cursor: pointer;
  &:not(:last-child) {
    border-bottom: 1px solid #ededed;
  }

  &:hover {
    background: darken(white, 5%);
  }

  i {
    font-size: 0.5rem;
    margin-right: 2em;
    color: #e8e8e8;
  }

  .fa-circle.red {
    color: #D64545;
  }
}

.inbox-list-light {
  color: #727272;
  font-size: 0.9rem;
  font-weight: 300;
}