.inbox-wrapper {
  background: white;
  border-radius: 3px;
  box-shadow: 0px 10px 30px rgba(black, 0.2);
  top: 10em; 
  display: block;
}
.inbox-header {
  border-bottom: 1px solid #ededed;
  position: sticky;
  top: 0;
}

.inbox-header-brand {
  font-weight: 700;
  white-space: nowrap;
  span {
    font-weight: 300;
  }
}
.inbox-body {
  display: block;
}

.inbox-message-list {
  padding: 0.5em;
  height: 100%;

}

@media screen and (max-width: 375px) {
  .inbox-brand-wrapper {
    flex-direction: column;
    width: 100%;
  }
}