.inbox-wrapper {
  background: white;
  border-radius: 3px;
  box-shadow: 0px 10px 30px rgba(black, 0.2);
}
.inbox-header {
  border-bottom: 1px solid #ededed;
  position: sticky;
  background: white;
  transition: all 0.2s ease;
  top: 0;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  z-index: 99;
}

.inbox-header-brand {
  font-weight: 700;
  white-space: nowrap;
  span {
    font-weight: 300;
  }
}
.inbox-body {
  display: block;
}

.inbox-message-list {
  padding: 0.5em;
  height: 100%;

}

.header-settings {
  padding: 0.3em;
  transition: all 0.2s ease;
  border-radius: 50%;

}

.header-settings:hover {
  background-color: #efefef;
}
.inbox-header.js-is-sticky--change {
  box-shadow: 0px 2px 15px rgba(black, 0.2);
}

@media screen and (max-width: 375px) {
  .inbox-brand-wrapper {
    flex-direction: column;
    width: 100%;
  }
}